*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --blackColor: #000;
  --whiteColor:#fff;
  --blueColor: #116feb;
}

body{
  font-family:sans-serif;
}

.app{
  display:flex;
  width:100%;
  justify-content: center;
  flex-direction:column;
}