.not-found{
    width: 100%;
    height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.not-found{
    font-size: 30px;
}

.not-found a{
    text-decoration: none;
    background-color: var(--blueColor);
    color: var(--whiteColor);
    padding: 10px;
    margin-top: 14px;
    border-radius: 22px;
    cursor: pointer;
}
